datasets/dataset-generation
datasets/fen-databases
datasets/datasets/ccrl5M-depth1*
datasets/datasets/ccrl10M-depth4*
datasets/datasets/ccrl10M-depth6*
datasets/datasets/sf-eval-full.epd
datasets/datasets/sf11-42M.csv
datasets/datasets/sf11-10M.npz
datasets/datasets/positions-12M.csv
datasets/datasets/positions-12M.npz
datasets/datasets/positions-depth10-12M.csv
datasets/datasets/positions-depth10-12M.npz
datasets/datasets/positions-depth12-12M.csv
datasets/datasets/positions-depth12-12M.npz
datasets/datasets/lichess60M-preprocessed.csv
README.md
NapoleonPP
.git
.gitignore
